extends ../layout

block content
  .container
    .row
      .col-md-7
        video(src="#{movie.flash}",controls="controls",allowFullScreen="true",quality="high",width="720",height="600",align="middle",type="application/x-shockwave-flash")
        .panel.panel-defatul
          .panel-heading
            h3 评论区
          .panel-body
            ul.media-list
              each item in comments
                li.media
                  .pull-left
                    a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}")
                      img.media-object(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+", style="width: 64px; height: 64px;")
                  .media-body
                    h4.media-heading #{item.from.name}
                    p #{item.content}
                    if item.reply && item.reply.length > 0
                      each reply in item.reply
                        .media
                          .pull-left
                            a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{reply.from._id}")
                              img.media-object(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+", style="width: 64px; height: 64px;")
                          .media-body
                            h4.media-heading
                              | #{reply.from.name}
                              span.text-info &nbsp;回复&nbsp;
                              | #{reply.to.name}:
                            p #{reply.content}
                  hr
            #comments(style="margin-bottom:50px")
              form#commentForm(method="POST", action="/user/comment")
                input(type="hidden", name="comment[movie]", value="#{movie._id}")
                if user
                  input(type="hidden", name="comment[from]", value="#{user._id}")
                .form-group
                  textarea.form-control(name="comment[content]", row="3")
                if user
                  button.btn.btn-primary(type='submit') 提交
                else
                  a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录后评论
      .col-md-4(style="margin-left:80px")
        .dl-horizontal
          dt 电影名字
          dd= movie.title
          dt 导演
          dd= movie.doctor
          dt 国家
          dd= movie.country
          dt 语言
          dd= movie.language
          dt 上映年份
          dd= movie.year
          dt 简介
          dd= movie.summary
          dt 返回
          dd: a.btn.btn-success(href="/")  返回首页
  script(src="/js/detail.js")