extend ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th(style="text-align:center") 电影名字
            th 导演
            th 国家
            th 上映年份
            th 录入时间
            th 查看
            th 更新
            th 删除
            th 返回
        tbody
          each item in categories
           tr(class="item-id-#{item_id}")
            td(style="text-align:center") 《#{item.title}》
            td #{item.doctor}
            td #{item.country}
            td #{item.year}
            td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
            td: a(target="_blank",href="../movie/#{item._id}")  查看
            td: a(target="_blank",href="../admin/movie/update/#{item._id}")  修改
            td: button.btn.btn-danger.del(type="button",data-id="#{item._id}")  删除
            td: a.btn.btn-success(href="/")  返回首页
  script(src='/js/admin.js')