doctype html
html
  head
    meta(charset='utf-8')   
    title 转义
  body
    h2 mixin
    mixin lesson
      p imooc jade study
    +lesson
    +lesson
    mixin study(name,courses)
      p #{name} study
      ul.courses
        each course in courses
          li= course
    +study('tom',['jade','node'])
    
    mixin group(student)
      h4 #{student.name}
      +study(student.name,student.courses)
    +group({name:'tom',courses:['jade','node']})
    
    mixin team(slogon)
      h4 #{slogon}
      if block
        block
      else
        p no team
    +team('slogon')
      // 可以去掉看看有啥结果
      p Good job!
      
    mixin attr(name)
      p(class !=attributes.class) #{name}
    +attr('attr')(class='magic')
    mixin attrs(name)
      p&attributes(attributes) #{name}
    +attrs('attrs')(class='magic2',id='attrid')
    
    mixin magic(name,...items)
      ul(class='#{name}')
        each item in items
          li= item
    +magic('magic','node','jade','...')
    